<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163847924885-aoqjjb2vbk2dgu1cf84olujtn2v6otv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163847924885-aoqjjb2vbk2dgu1cf84olujtn2v6otv1</string>
	<key>API_KEY</key>
	<string>AIzaSyCc-O5XvVNf3sdR7E0kSeDLzLz7WWxw8Ts</string>
	<key>GCM_SENDER_ID</key>
	<string>163847924885</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.behapp</string>
	<key>PROJECT_ID</key>
	<string>behapp-project</string>
	<key>STORAGE_BUCKET</key>
	<string>behapp-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163847924885:ios:df32a20eeda27519257f9c</string>
</dict>
</plist>